.darkSquare {
  height: 75px;
  width: 75px;
  background-color: #5d9e70;
}

.lightSquare {
    height: 75px;
    width: 75px;
    background-color: #dcf5ce
}

.highlightSquare {
    height: 75px;
    width: 75px;
    background-color: #e1f52e;
  }

.darkPiece {
    height: 50px;
    width: 50px;
    background-color: #ad3146;
    border-radius: 50%;
    margin:0 auto
  }
  
  .lightPiece {
      height: 50px;
      width: 50px;
      background-color: #eff3ed;
      border-radius: 50%;
      margin: auto ;
  }

.boardBackground {
    background-color: #d4cfae;
    display: inline-block;
}

.woodBase {
    background-color:#6b4b2d;  
    display: inline-block;
    padding: 5px;
    border-style: solid;
    border-width: 10px;
    border-color: #4d3722;
}

.gameInfo{
    background-color:#b4b4b4;  
    height: 600px;
    width: 250px;
    margin-left: 50px;
}

.gameTrackBox{
    height: 175;
    width: 180;
}

.holdingSpacer{
  display:inline-flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.pieceNameSep{
    display:inline-flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.nameSpacing{
    margin-left: 20px;
}

.hrLine{
    border-color: #000000;
    width : 80%
}

.chatBox{
    background-color:#979797;  
    height: 200px;
    width: 90%;
    margin: auto;
}

.sendButton{
    background-color: #5d9e70;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    vertical-align: middle
}

.vertSpacer{
    margin-top: 5%
}

.actionButton{
   height: 10px;
   width: 10px;
   padding: 0;
   margin: 0;
}

.formatButtons{
    margin-top: 10px;
    margin-left: 45px;
   
}

.topMargin{
    margin-top: 50px;
    background-color: #dcf5ce;
}